@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 3;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-color: hsl(273, 11%, 60%);
	font-family: 'Trebuchet MS', Helvetica;
}

.milogo {
	animation: fadeIn 3s ease-in-out;
	align-items: center;
	display: flex;
}

.micajita {
    animation: fadeIn 3s ease-in-out;
	width: 400px;
	height: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(242, 242, 242, 0.5);
	border: 1px solid #ddd;
	border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	padding: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin: 10px 0;
}

.correoemail label {
	width: 150px;
	margin: 5px;
	display: inline-block;
	text-align: right;
}
.correoemail input[type="submit"] {
	display: inline-block;
}


.iniciosesion input[type="submit"] {
  	background-color: rgb(96, 69, 109);
  	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	border-width: 1px;
	cursor: pointer;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	width: 100px;
	margin-top: 15px
}

.iniciosesion:hover input[type="submit"] {
	background-color: #9f89b1;
    color: #fff;
	padding: 5px 15px;
	border-radius: 10px;
	cursor: pointer;
	width: 120px;
	transform: scale(1.1);
}

.btn {
	display: flex;
	align-items: center;
	background: linear-gradient(to right, rgb(96, 69, 109), #655383, #ac93c4);
    color: white;
    border: outset;
    padding: 5px 40px;
	margin: auto;
    border-radius: 50px;
    cursor: pointer;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	transition: all 0.3s ease-in-out;
	margin-bottom: 10px;
	width: 250px;
}	

.btn:hover {
	background: #9f89b1;
	width: 250px;
	border-radius: 4px;
	transform: translateX(5px);
	transform: scale(1.1);
	}

.btn-img {
	width: 20px;
	height: 20px;
	background: #fff;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}
