.precontenedorabout {
    color: hsl(0, 0%, 27%);
    text-align: center;
    font-size: medium;
    margin: 50px;
}

.contenedorabout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.contenedorabout figure{
    position: relative;
    height: 500px;
    cursor: pointer;
    width: 800px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedorabout figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedorabout figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsl(29, 100%, 56%, 0.801);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorabout figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.contenedorabout figure:hover > .capa h2{
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedorabout figure:hover > img{
    transform: scale(1.3);
}

.contenedorabout figure .capa h3{
    color: hsl(0, 0%, 27%);
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 100px;
}

.contenedorabout figure .capa h2{
    color:hsl(0, 0%, 27%);
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.capa {
    color: hsl(0, 0%, 27%);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
}

.precontenedorprofesores {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-profesores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-color:  hsl(273, 11%, 60%, 0.801);
    margin-left: 150px;
    margin-right: 150px;
}

.profesores {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.image-container {
    overflow: hidden;
    position: relative;
    max-width: 400px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.image-container:hover {
    overflow: visible;
    transition: transform 0.8s;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s;
}

.image-container:hover img {
    transform: translateX(-10%);
}

.textoprofesores {
    position: absolute;
    top: 0;
    left: 100%;
    width: 400px;
    margin-left: 1000px;
    height: 100%;
    color: #ffffff;
    padding: 10px;
    text-align: justify;
    transition: transform 0.6s;
    transform: translateX(100%);
}

.image-container:hover .textoprofesores {
    transform: translateX(-480%);
}


/*.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background:linear-gradient(to bottom, rgba(207, 157, 207, 0.5),rgba(185, 118, 194, 0.5)),url(images/logoElegidoposta.jpg);
    background-size: cover;
    background-position: center;
    }

.wrap-texto{
    color:hsl(0, 0%, 27%);
    text-align: center;
    width: 50%;
    }


/*.cajagrande{
    background-color: rgb(238, 101, 208);
    width: auto;
    height: 300px;
    padding: 50px;
    display: flex;
    text-align: center;

}

/*.columna1, .columna2, .columna3{
    background-color: rgb(241, 77, 220);
    width: 200px;
    height: 200px;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 60px;
    display: inline-block;




}
.imagen{
}