.precontenedorabout {
    color: hsl(0, 0%, 27%);
    text-align: center;
    font-size: medium;
    margin-top: 50px;
}

.contenedorabout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.contenedorabout figure{
   position: relative;
    height: 500px;
    cursor: pointer;
    width: 800px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}

.contenedorabout figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedorabout figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 211, 226, 0.801);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}

.contenedorabout figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.contenedorabout figure:hover > .capa h2{
    margin-top: 70px;
    margin-bottom: 15px;
   
}

.contenedorabout figure:hover > img{
    transform: scale(1.3);
}

.contenedorabout figure .capa h3{
    color: hsl(0, 0%, 27%);
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 100px;
}

.contenedorabout figure .capa h2{
    color:hsl(0, 0%, 27%);
    font-family: 'Trebuchet MS', Arial, Helvetica;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.capa {
    color: hsl(0, 0%, 27%);
    font-family: 'Trebuchet MS', Arial, Helvetica;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
}


/*.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background:linear-gradient(to bottom, rgba(207, 157, 207, 0.5),rgba(185, 118, 194, 0.5)),url(images/logoElegidoposta.jpg);
    background-size: cover;
    background-position: center;
    }

.wrap-texto{
    color:hsl(0, 0%, 27%);
    text-align: center;
    width: 50%;
    }


/*.cajagrande{
    background-color: rgb(238, 101, 208);
    width: auto;
    height: 300px;
    padding: 50px;
    display: flex;
    text-align: center;

}

/*.columna1, .columna2, .columna3{
    background-color: rgb(241, 77, 220);
    width: 200px;
    height: 200px;
    padding-top: 200px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 60px;
    display: inline-block;




}
.imagen{
}