.logo{
    width: 70px;
}
body{
   
}
li{
    display: inline;
    
}
.botoncitos{
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 1000px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #47c890;

}
h4{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #755e4d;
}
header{
    background-color: antiquewhite;
}

section{
    text-align: right;
    im
}

.container{
    text-align: right: ;
}
.kund{
    width: 500px;
   height: 500px;

}
.origen{
    text-align: left;
}
.Kundalini{
    text-align: left;
}